@import "variables";

.contact {
  background: $dark-color;
  color: $light-color;
  padding: 5% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;

  .contact-info {
    flex: 1;
    text-align: left;
    max-width: 400px;

    .section-title {
      font-size: 50px;
      margin-bottom: 10px;
    }

    .contact-text {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  .contact-form {
    flex: 1;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-group {
      text-align: left;

      label {
        display: block;
        font-size: 16px;
        margin-top: 2%;
        margin-bottom: 2%;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $secondary-color;
        border-radius: 25px;
        background: #C1B580;
        color: $dark-color;
        font-size: 16px;
      }

      textarea {
        resize: none;
        height: 100px;
      }
    }
  }

  .submit-button {
    background: transparent;
    margin-top: 2%;
    color: pink;
    padding: 8px 16px;
    font-size: 16px;
    border: 2px solid pink;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background: pink;
      color: $dark-color;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    gap: 0;

    .contact-info, .contact-form {
      // This is the key change to make them fill the width
      text-align: center;
      width: -webkit-fill-available;
    }

    .contact-info {
      margin-bottom: 20px;
    }

    .contact-form .form-group {
      text-align: left; // Keeps labels and inputs left-aligned for readability
    }
  }
}