@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap');
@import "variables";

.projects {
  text-align: center;
  padding: 50px 0;
  background-color: $secondary-color;

  .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Italiana', serif;
  }

  .projects-carousel {
    width: 100%;
    padding: 20px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: black; // Navigation arrows color
  }

  .swiper-pagination-bullet {
    background: black;
  }

  .project-card {
    background: #c1b580;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0;
      font-family: 'Italiana', serif; /* Changed to Italiana */
      font-weight: 600;
    }

    .subtitle {
      font-size: 0.9rem;
      margin-top: 5px;
      margin-bottom: 15px; /* Increased bottom margin for spacing */
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      opacity: 0.8;
    }

    p {
      /* Removed the margin-top here as it was causing the large gap */
      font-size: 0.9rem;
      flex-grow: 1;
      font-family: 'Poppins', sans-serif;
      line-height: 1.5;
      /* Apply multi-line ellipsis */
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; 
      transition: all 0.3s ease;
      margin-bottom: 15px; /* Added margin for spacing between paragraph and button */

      /* Hide scrollbar by default */
      &::-webkit-scrollbar {
        width: 0.4em;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 5px;
      }
    }

    /* On hover, remove truncation and show scrollbar */
    &:hover p {
      -webkit-line-clamp: unset;
      overflow-y: auto;
      white-space: pre-wrap;

      &::-webkit-scrollbar-thumb {
        background: #888;
      }
    }

    .project-link {
      display: inline-block;
      color: black;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
